/* FONTS */

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4, h5 {
  font-weight: 100;
}

h5 {
  color:#fff;
}

.contrast {
  & p,& h1, & h2, & h3 {
    color:$contrast-color;
  }
}

/* HEADER */

#top-color {
  width:100%;
  height:8px;
  background-color:$brand-color;
  position: relative;
  position: fixed;
  top:0;
  left:0;
}

.sticky {
  background-color: rgba(255,255,255,0.9);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* BACKGROUND */

.background {
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:url(../img/romeo-poison-boards.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* SECTIONS */

section.sign-up {
  max-height: 0;
  opacity:0;
  overflow: hidden;
  -moz-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

section.sign-up.open {
  max-height:1000px;
  opacity:1;
  margin-bottom: 50px;
  -moz-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

section.welcome {
  height:50vmin;
}

section.welcome h2, section.welcome p {
  color: #fff;
}

section.content {
  background-color: #fff;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}


/* FRONT PAGE */
/* registration */
.front-page.register > div {
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  padding:$gutter-width;
  color:#fff;
}

.front-page.register input {
  color:#999;
}

/* about */
.front-page.about > div {
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  padding:$gutter-width;
}

.front-page.about p {
  color: #fff;
}

/* FANCY BORDERS */
.border-wrap {
  width:100%;
  overflow: hidden;
}

.border-circle, .border-indented {
  position: relative; 
  height: 50px;
  margin: 0 auto;
}

.border-circle {
  cursor: pointer;
  width: 50px;
  border-radius: 50px;
  background: transparent;
  background-image: url(../img/circle-arrow.png);
  background-size:cover;
  text-align: center;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.border-circle.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.border-indented {
  margin-top: -15px;
  box-sizing: content-box;
  width: 50px;
  /* the inverse circle "cut" */
  background-image: -moz-radial-gradient(50% -10px, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30px, #fff 31px);
  background-image: -webkit-radial-gradient(50% -10px, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30px, #fff 31px);
  background-image: -ms-radial-gradient(50% -10px, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30px, #fff 31px);
  background-image: -o-radial-gradient(50% -10px, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30px, #fff 31px);
  background-image: radial-gradient(50% -10px, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 30px, #fff 31px);
}

.border-indented:before, .border-indented:after {
  display: block;
  content:'';
  background-color:#fff;
  height:43px;
  width:9999px;
  position: absolute;
  top:7px;
}

.border-indented:before {
  left:-9999px;
}

.border-indented:after {
  right:-9999px;
}


/* SEARCH */
input.search {
  width:33%;
  height:33px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.86);
}

/* FOOTER */

footer {
  min-height:50px;
  background-color:$neutral-color;
}