@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
/* Studio 359 Base System */
/* SET ALL CONTAINERS TO USE INSIDE PADDING */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html, body, #wrapper, #pagewrap {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/* Basic Styles */
img {
  width: 100%;
  height: auto; }

div, ul, li, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Open Sans", "Myriad Pro", Myriad, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #383838;
  font-size: 0.89rem;
  margin: 0; }

span {
  font-size: inherit; }

p {
  font-size: 0.93rem; }

.lead-in > p {
  font-size: 1.395rem; }

h1, h3 {
  color: #e52020;
  margin-bottom: 0.4rem;
  font-weight: 600; }

h1 {
  font-size: 2.5575rem;
  margin-bottom: 0.6rem; }

h2 {
  font-size: 1.86rem;
  font-weight: 100;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.395rem; }

h4 {
  font-size: 1.209rem;
  font-weight: 100;
  margin-bottom: 0.6rem; }

strong, h3 {
  font-weight: 700; }

blockquote {
  margin: 0 0 15px 0; }

blockquote p {
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  font-size: 1.86rem;
  font-style: italic;
  text-align: center;
  color: #e52020; }

p, img {
  margin-bottom: 0.89rem; }

a {
  color: #e52020;
  text-decoration: none; }

a:hover {
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
  color: #e52020; }

table {
  width: 100%; }

td, th {
  padding: 15px;
  vertical-align: top; }

input {
  color: #383838;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  border: none; }

.btn, .button {
  display: inline-block;
  background-color: #e52020;
  color: #fff;
  padding: 6px 12px;
  font-size: 0.93rem;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent; }

iframe {
  width: 100%; }

/* Grid */
.clr:before,
.clr:after,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%; }

@media (min-width: 768px) {
  .container {
    width: 360px;
    padding: 0 15px; } }
@media (min-width: 992px) {
  .container {
    width: 540px; } }
@media (min-width: 1200px) {
  .container {
    width: 960px; } }
.row {
  margin: 15px -15px;
  position: relative; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, footer {
  position: relative;
  float: left;
  padding: 15px;
  min-height: 1px;
  width: 100%; }

@media (min-width: 768px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 41.66667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; } }
/* Layout */
header {
  background-color: transparent;
  width: 100%;
  position: relative; }

section {
  position: relative;
  width: 100%; }

/* Navigation */
header.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(1000px);
  -moz-transform: translateZ(1000px);
  -o-transform: translateZ(1000px);
  transform: translateZ(1000px);
  z-index: 1000;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

nav ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0; }

nav ul > li {
  display: inline-block;
  float: none;
  padding: 5px 0;
  line-height: 30px;
  margin: 0 15px; }

header > nav a {
  color: #383838; }

/* Navigation Child Elements */
.parent {
  position: relative; }

.parent > a {
  position: relative; }

.nav-child {
  display: none;
  padding: 0;
  background-color: #383838;
  margin-top: 6px;
  border-top: 1px solid #fff;
  list-style-type: none; }

.menu {
  padding: 0 5px;
  letter-spacing: 4px;
  cursor: pointer;
  color: #e52020; }

/* USEFUL */
.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.center {
  text-align: center; }

/* FOOTER */
footer {
  background-color: #383838; }

footer p, footer h1, footer h2, footer h3 {
  color: #fff; }

/* FONTS */
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

.contrast p, .contrast h1, .contrast h2, .contrast h3 {
  color: #fff; }

/* HEADER */
#top-color {
  width: 100%;
  height: 4px;
  background-color: #e52020;
  position: relative;
  position: fixed;
  top: 0;
  left: 0; }

.sticky {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

/* BACKGROUND */
.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../img/romeo-poison-boards.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: 50% 50%; }

/* SECTIONS */
section.sign-up {
  max-height: 0;
  overflow: hidden;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out; }

section.sign-up.open {
  max-height: auto;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out; }

section.welcome {
  height: 50vmin; }

section.welcome h2, section.welcome p {
  color: #fff; }

section.content {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }

/* FANCY BORDERS */
.border-wrap {
  width: 100%;
  overflow: hidden; }

.border-circle, .border-indented {
  position: relative;
  height: 50px;
  margin: 0 auto; }

.border-circle {
  cursor: pointer;
  width: 50px;
  border-radius: 50px;
  background: transparent;
  background-image: url(../img/circle-arrow.png);
  background-size: cover;
  text-align: center;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out; }

.border-circle:hover {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.border-indented {
  margin-top: -15px;
  box-sizing: content-box;
  width: 50px;
  /* the inverse circle "cut" */
  background-image: -moz-radial-gradient(50% -10px, circle closest-corner, transparent 0, transparent 30px, #fff 31px);
  background-image: -webkit-radial-gradient(50% -10px, circle closest-corner, transparent 0, transparent 30px, #fff 31px);
  background-image: -ms-radial-gradient(50% -10px, circle closest-corner, transparent 0, transparent 30px, #fff 31px);
  background-image: -o-radial-gradient(50% -10px, circle closest-corner, transparent 0, transparent 30px, #fff 31px);
  background-image: radial-gradient(50% -10px, circle closest-corner, transparent 0, transparent 30px, #fff 31px); }

.border-indented:before, .border-indented:after {
  display: block;
  content: '';
  background-color: #fff;
  height: 43px;
  width: 9999px;
  position: absolute;
  top: 7px; }

.border-indented:before {
  left: -9999px; }

.border-indented:after {
  right: -9999px; }

/* SEARCH */
input.search {
  width: 33%;
  height: 33px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.86); }

/* FOOTER */
footer {
  min-height: 50px;
  background-color: #383838; }

/*# sourceMappingURL=styles.css.map */
